* Indexing in List and Tuple
* Negative Indexing in List and Tuple
* Membership Test like (in , not in) in List,Dictionary,Set and Tuple
* Iterating For loop in List,Tuple,Set,Dictionary

Indexing in List

In [ ]:
list=["Sanjivani","College"]
print(list.index("College"))

1

Indexing in Tuple

In [ ]:
tuple=("s","a","n","j","i","v","a","n","i")
print(tuple.index("i"))
print(tuple.index("a"))

4
1

Negative Indexing in List

In [ ]:
det=["Shivam","Sharma","I","am","Engineering"]
print(det[-3])
print(det[-4])

I
Sharma

Negative Indexing in Tuple

In [ ]:
det=("Shivam","Sharma","I","am","Engineering")
print(det[-2])

am

Membership Test in List

In [ ]:
var= 9
list=[1,2,3,4,5,6,7,8,9,10,11]
print(var in list)        #in
print(5 not in list)      #not in
print(var not in list)    #not in

True
False
False

Membership Test in Tuple

In [ ]:
tuple= (5,55,55,555,5555)
print(555 in tuple)       #in
print(20 in tuple)        #in
print(20 not in tuple)    #not in

True
False
True

Membership Test in Set

In [ ]:
set={1,2,3,4,5,6,7,8,9,10}
print(7 in set)         #in
print(3 not in set)     #not in

True
False

Membership Test in Dictionary

In [ ]:
d1={"Hey","Hi","Hello"}
d2={"how","are","You"}

print("Hi" in d1)       #in
print("are" not in d2)  #not in

True
False

Iterating Loop in Tuple

In [ ]:
tuple=("I","am","an","Engg")

for ele in tuple:       #for Loop
  print(ele)

I
am
an
Engg

Iterating Loop in Set

In [ ]:
set = {"Hi", "hello", "bye"}

for x in set:
  print(x)

bye
Hi
hello

Iterating Loop in Dictionary

In [ ]:
dict = {"Good":"Morning",
        "Sleepy":"Day",
        "Sweet":"Evening"}
for ele in dict:
  print(ele)

Good
Sleepy
Sweet

Iterating Loop in List

In [ ]:
list=[0,9,8,7,6,5,4,3,2,1]

for ele in list:
  print(ele)

0
9
8
7
6
5
4
3
2
1