List Built-In Methods

In [ ]:
initial = [22, 'Hi', 'Student', 'here','from']                  #Initial list
initial.append( 'India' );                                      #Append Methods
print ("Updated List : ", initial,"\n")

Updated List :  [22, 'Hi', 'Student', 'here', 'from', 'India']

In [ ]:
initial = [22, 'Hi', 'Student', 'here','from']                  #Initial list

print ("Number of 21 in list: ", initial.count(21))             #Count Methods
print ("Count for zara : ", initial.count('abc'),"\n")

Number of 21 in list:  0
Count for zara :  0

In [ ]:
initial = [22, 'Hi', 'Student', 'here','from']                  #Initial list

print ("Index of Hi : ", initial.index( 'Hi' ))                 #Index Methods
print ("Index of here : ", initial.index( 'here' ),"\n")

Index of Hi :  1
Index of here :  3

In [ ]:
initial = [22, 'Hi', 'Student', 'here','from','India']          #Initial list
second = ['I','am','an','Engineer']

initial.extend(second)                                          #Extend Method
print(initial)

[22, 'Hi', 'Student', 'here', 'from', 'I', 'am', 'an', 'Engineer']

In [ ]:
initial = [1,2,4,5,6,7,8]                                       #Initial list
print(sum(initial))                                             #Sum Method

33

Tuples Built-In Methods

In [20]:
t1= (7,9,8,7,7,8,8,5,6,0,3,2)

x = t1.count(8)
print("Count of 8 in tuple",x)                                 #Count Method

Count of 8 in tuple 3

In [ ]:
t1= (7,9,8,7,7,8,8,5,6,0,3,2)

x = t1.index(8)
print("Count of 8 in tuple",x)                                 #Index Method

Set Built-In Methods

In [18]:
data = {"abc","xyz","pqr"}

data.add("stuv")
print(data)                                                    #Add Method

{'xyz', 'abc', 'stuv', 'pqr'}

In [26]:
data = {1,2,3,4,5,6,7,8,9}

data.pop()
print(data)                                                    #Pop Method

{2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
data = {"abc","xyz","pqr"}

data.remove("xyz")
print(data)                                                    #Remove Method

{'abc', 'pqr'}

In [29]:
data = {"abc","xyz","pqr"}
details = {"lmn","efg"}

info=data.isdisjoint(details)                                  #isdisjoint Method
print(info)

True

In [30]:
data = {"abc","xyz","pqr"}
details = {"lmn","efg"}

info=data.issubset(details)                                   #issubset Method
print(info)

False

In [31]:
data = {"abc","xyz","pqr"}
details = {"lmn","efg"}

info=data.union(details)                                      #union Method
print(info)

{'efg', 'xyz', 'abc', 'lmn', 'pqr'}

Dictionary Built-In Method

In [33]:
details = {"Name":"Shivam","Age":21,"From":"Sanjivani"}

x = details.copy()                                            #Copy Method
print(x)

{'Name': 'Shivam', 'Age': 21, 'From': 'Sanjivani'}

In [34]:
details = {"Name":"Shivam","Age":21,"From":"Sanjivani"}

x = details.get("Age")                                        #get Method
print(x)

21

In [35]:
details = {"Name":"Shivam","Age":21,"From":"Sanjivani"}

x = details.keys()                                           #keys Method
print(x)

dict_keys(['Name', 'Age', 'From'])

In [40]:
details = {"Name":"Shivam","Age":21,"From":"Sanjivani"}

details.update({"Age": 22})                                  #update Method
print(details)

{'Name': 'Shivam', 'Age': 22, 'From': 'Sanjivani'}

In [36]:
details = {"Name":"Shivam","Age":21,"From":"Sanjivani"}

details.clear()                                             #clear Method
print(details)

{}